body {
  background-color: crimson;
}
img {
  height: 10%;
  width: 10%;
  border: 10px solid;
  border-top: 10px blueviolet solid;
  border-bottom: 10px orange solid;
  border-left: 10px pink solid;
  border-right: 10px green solid;
  border-radius: 100px;
  border-top-style: dotted;
  border-bottom-style: dotted;
  border-left-style: dotted;
  border-right-style: dotted;
  opacity: 0.5;
  background-color: #fff;
}
img:hover{
    opacity: 1;
}
/* .jerry-image:hover:hover {
  
} */
p {
  text-transform: capitalize;
  color: black;
  font-size: 50px;
  font-style: normal;
}
/* .container {
  display: ;
} */
